<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <title>JVC-rattrapage</title>
    </head>
    <body>
    <header>
        <div class="menu">

            <ul>
                <li>LOGO</li>
                <li>Jeux</li>
                <li>Actu</li>
                <li>TV</li>
                <li>Vidéos</li>
                <li>Forums</li>
            </ul>
        </div>
    </header>
    </body>
</html>
