<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <title>JVC-rattrapage</title>
    </head>
    <body>
        <header>
            <ul>
                <li>LOGO</li>
            <a href="#"><li>Jeux</li></a>
            <a href="#"><li>Actu</li></a>
            <a href="#"><li>TV</li></a>
            <a href="#"><li>Vidéos</li></a>
            <a href="#"><li>Forums</li></a>
            </ul>
        </header>
        <div class="menu">
            <ul> 
            <a href="#"><li>PC</li></a>
            <a href="#"><li>PS5</li></a>
            <a href="#"><li>Xbox Series</li></a>
            <a href="#"><li>PS4</li></a>
            <a href="#"><li>Switch</li></a>
            <a href="#"><li>One</li></a>
            <a href="#"><li>Wii U</li></a>
            <a href="#"><li>PS3</li></a>
            <a href="#"><li>Xbox360</li></a>
            </ul>
        </div>
        <div class="grid-container">
            <div class="first">
                <img id="img1" src="/img/cyberpunk.jpeg">
                <p></p>
            </div>
            <div class="second">
                <img id="img2" src="/img/bld3.jpg">
            </div>
            <div class="third">
                <img id="img3" src="/img/apex.jpg">
            </div>
            <div class="four">
                <img id="img4" src="/img/fh.jpg">
            </div>
            <div class="five">
                <img id="img5" src="/img/grounded.jpg">
            </div>
            <div class="six">
                <img id="img6" src="/img/tbi.jpg">
            </div>
        </div>
    </body>
</html>
