<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <title>JVC-rattrapage</title>
    </head>
    <body>
    <header>
        <ul>
            <li>LOGO</li>
            <li>Jeux</li>
            <li>Actu</li>
            <li>TV</li>
            <li>Vidéos</li>
            <li>Forums</li>
        </ul>
    </header>
    <div class="menu">
        <ul> 
            <li>PC</li>
            <li>PS5</li>
            <li>Xbox Series</li>
            <li>PS4</li>
            <li>Switch</li>
            <li>One</li>
            <li>Wii U</li>
            <li>PS3</li>
            <li>Xbox360</li>
        </ul>
    </div>
    </body>
</html>
