<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <title>JVC-rattrapage</title>
    </head>
    <body>
        <header>
            <ul>
                <li>LOGO</li>
            <a href="#"><li>Jeux</li></a>
            <a href="#"><li>Actu</li></a>
            <a href="#"><li>TV</li></a>
            <a href="#"><li>Vidéos</li></a>
            <a href="#"><li>Forums</li></a>
            </ul>
        </header>
        <div class="menu">
            <ul> 
            <a href="#"><li>PC</li></a>
            <a href="#"><li>PS5</li></a>
            <a href="#"><li>Xbox Series</li></a>
            <a href="#"><li>PS4</li></a>
            <a href="#"><li>Switch</li></a>
            <a href="#"><li>One</li></a>
            <a href="#"><li>Wii U</li></a>
            <a href="#"><li>PS3</li></a>
            <a href="#"><li>Xbox360</li></a>
            </ul>
        </div>
        <div class="grid-container">
            <div class="first">
                <img id="img1" src="/img/cyberpunk.jpeg">
                <p>Cyberpunk 2077 est un jeu vidéo d'action-RPG en vue à la première personne développé par CD Projekt RED, fondé sur la série de jeu de rôle sur table Cyberpunk 2020 conçue par Mike Pondsmith.</p>
            </div>
            <div class="second">
                <img id="img2" src="/img/bld3.jpg">
                <p>Borderlands 3 est un jeu vidéo de tir à la première personne développé par Gearbox Software et édité par 2K Games. Il est sorti le 13 septembre 2019 sur PC, PlayStation 4 et Xbox One. Il s'agit du quatrième jeu principal de la série Borderlands.</p>
            </div>
            <div class="third">
                <img id="img3" src="/img/apex.jpg">
                <p>Apex Legends est un jeu vidéo de type battle royale développé par Respawn Entertainment et édité par Electronic Arts. Il est publié en accès gratuit le 4 février 2019 sur Microsoft Windows, PlayStation 4 et Xbox One.</p>
            </div>
            <div class="four">
                <img id="img4" src="/img/fh.jpg">
                <p>Forza Horizon 4 est un jeu vidéo de course automobile développé par Playground Games pour les plates-formes Xbox One et Microsoft Windows, édité par Microsoft Studios, sorti le 2 octobre 2018.</p>
            </div>
            <div class="five">
                <img id="img5" src="/img/grounded.jpg">
                <p>Grounded est un jeu vidéo de survie développé par Obsidian Entertainment et édité par Xbox Game Studios, sorti le 28 juillet 2020 en accès anticipé sur Windows et Xbox One. Dans le jeu, le personnage du joueur a été réduit à la taille d'une fourmi et doit lutter pour survivre dans un jardin rempli de dangers.</p>
            </div>
            <div class="six">
                <img id="img6" src="/img/tbi.jpg">
                <p>The Binding of Isaac est un jeu indépendant d'action-aventure créé par Edmund McMillen et Florian Himsl. Il est sorti le 28 septembre 2011 sur Steam.</p>
            </div>
        </div>
    </body>
</html>
