<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styleArticle.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <title>JVC-rattrapage Connexion</title>
    </head>
    <body>
        <header>
            <ul>
                <li>LOGO</li>
            <a href="#"><li>Jeux</li></a>
            <a href="#"><li>Actu</li></a>
            <a href="#"><li>TV</li></a>
            <a href="#"><li>Vidéos</li></a>
            <a href="#"><li>Forums</li></a>
            <a href="/connexion" target="_blank"><li>CONNEXION</li></a>
            </ul>
        </header>
        <div class="menu">
            <ul> 
            <a href="#"><li>PC</li></a>
            <a href="#"><li>PS5</li></a>
            <a href="#"><li>Xbox Series</li></a>
            <a href="#"><li>PS4</li></a>
            <a href="#"><li>Switch</li></a>
            <a href="#"><li>One</li></a>
            <a href="#"><li>Wii U</li></a>
            <a href="#"><li>PS3</li></a>
            <a href="#"><li>Xbox360</li></a>
            </ul>
        </div>

        <div class="grid-container">
            <div class="first">
                <img id="img1" src="/img/cyberpunk.jpeg">
                <p>Cyberpunk 2077 : CD Projeckt reconfirme la présence de DLC gratuits</p>
            </div>
        </div>
        
        <div class="text">
            <p><b>La date du 19 novembre se rapproche pou Cyberpunk 2077, déjà reporté à plusieurs reprises. Si ce report permet d'avoir plus de temps pour peaufiner le titre ou communiquer, il contraint aussi les équipes à rappeler certaines choses.</b></p>
            
            <p>En 2019, CD Projeckt avait déjà indiqué que Cyberpunk 2077 aura droit à des extensions payantes basées sur le modèle de celles présentes dans The Witcher 3 : Wild Hunt, mais également à des DLC gratuits. De nouveau interrogé à ce sujet, le studio polonais a rappelé que le titre disposera bien de contenus gratuits. Pour le moment, les équipes n'ont pas dévoilé ce à quoi nous pouvons nous attendre, mais si la route tracée par les dernières aventures de Geralt de Riv est suivie, on devrait avoir accès à de nouvelles quêtes, de l'équipement, des armes et des consommables.</p>
        </div>
    </body>
</html>