<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styleConnexion.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <title>JVC-rattrapage Connexion</title>
    </head>
    <body>
        <h1>Connexion</h1>

        <form>
            <div class="name">
                <label for="inputName">Pseudo</label>
                <div class="btnname">
                  <input type="text" placeholder="Name">
                </div>
            </div>

            <div class="password">
              <label for="inputPassword">Password</label>
              <div class="btnpassword">
                <input type="password" placeholder="Password">
              </div>
            </div>

            <div class="btnvalider">
                <input type="button" value="Valider" id="btncheck">
            </div>
        </form>
    </body>
</html>