<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/styleConnexion.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <title>JVC-rattrapage Connexion</title>
    </head>
    <body>
        <h1>Connexion</h1>
    </body>
</html>