@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: url("/img/halo.jpg");
}

header {
    text-align: center;
    background-color: rgb(16, 144, 187);
}

ul li {
    display: inline-block;
    padding: 1.5em;
    font-size: 1.3em;
}

.menu {
    text-align: center;
    background-color: rgb(19, 97, 122);
    margin-bottom: 3em;
}

.menu ul li {
    display: inline-block;
    padding: 1.5em;
    font-size: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . ." ". . .";
}

.first {
    text-align: center;
    margin-bottom: 1.5em;
    margin-left: 2.5em;
    border: solid red 1px;
}

#img1 {
    width: 60%;
}

.second {
    text-align: center;
    margin-bottom: 1.5em;
    border: solid red 1px;
}

#img2 {
    width: 60%;
}

.third {
    text-align: center;
    margin-bottom: 1.5em;
    margin-right: 2.5em;
    border: solid red 1px;
}

#img3 {
    width: 60%;
}

.four {
    text-align: center;
    margin-left: 2.5em;
    border: solid red 1px;
}

#img4 {
    width: 60%;
}

.five {
    text-align: center;
    border: solid red 1px;
}

#img5 {
    width: 60%;
}

.six {
    text-align: center;
    margin-right: 2.5em;
    border: solid red 1px;
}

#img6 {
    width: 60%;
}
